.nav-content {
  display: flex;
}

.nav-link {
  display: block;
  width: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

body {
  background-image: url("/Deep-Dish-Pizzazz/assets/images/comedystagebg.jpg");
    background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  width: 725px;
}

markdown-body {
   font-family: 'Domine', serif;
}

.title {
  color:#FFFFFF
}

header {
  color: #000000;
  font-family: 'Balsamiq Sans', cursive;
}


.ddplogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.teamportrait {
  float: left;
}
