.nav-content {
  display: flex;
}

.nav-link {
  display: block;
  width: 25%;
  text-align: center;
}

body {
  background-image: url("/Deep-Dish-Pizzazz/assets/images/comedystagebg.jpg");
    background-size: cover;
  background-attachment: fixed;
}

markdown-body {
   font-family: 'Domine', serif;
}

.title {
  color:#FFFFFF
}

header {
  color: #000000;
  font-family: 'Balsamiq Sans', cursive;
  )

