.nav-content {
  display: flex;
}

.nav-link {
  display: block;
  width: 25%;
  text-align: center;
}

body {
  background-image: url("/Deep-Dish-Pizzazz/assets/images/redcurtainstage.jpg");
    background-size: cover;
}

markdown-body {
   font-family: 'Domine', serif;
}

header {
  color: #FFFFFF;
  font-family: 'Balsamiq Sans', cursive;
  )
